/* Основний текст */
body, h1, h2, h3, p, a {
    color: #fff; /* Білий текст для контрасту */
  }

  html, body {
    height:100%;
}
  /* Фон для контейнерів */
  .container {
    background-color: rgba(255, 255, 255, 0.8); /* Білий фон з прозорістю */
    padding: 1rem;
    border-radius: 8px;
  }
  
  /* Кнопки */
  button, .add-button, .delete-button {
    background-color: #ffd700; /* Жовтий фон кнопок */
    color: #3d3d3d; /* Темний текст на кнопках */
  }

  /* Основні контейнери */
.header, .footer, .main-content {
    background-color: rgba(255, 255, 255, 0.9); /* Білі фони для секцій */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для контрасту */
  }
  
body {
    background-image: url('assets/background.webp');
    background-size: cover; /* Зображення заповнює весь екран */
    background-position: center; /* Центрує зображення */
    background-repeat: no-repeat; /* Не повторює зображення */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
body::before {
  content: '';
  position: fixed; /* Закріплене затемнення */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Напівпрозоре затемнення */
  z-index: -1; /* Поміщаємо за контент */
}